%h1{:class => 'first_heading'} HOME
%p Find me in app/views/page/home.html.haml

%p Welcome to Chris Beard Images.

%p Chris Beard is a professional photographer based in Wiltshire, UK.

%p
  Chris is available for photographic assignments, should you wish to discuss
  a current project please contact him using the
  = link_to 'contact', contact_url, :class=>'orange'
  form on this site. He will endeavour to reply personally and as soon as possible
  but please be aware he is often away on assignments which may, occasionally delay his reply by a few days.